@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 15px;
}

body{
    display: grid;
    place-content: center;
    min-height: 100vh;
    background-color: hsl(0, 0%, 98%);
}

h1{
    font-size: 2rem;
    color: hsl(234, 12%, 34%);
    margin-bottom: 1rem;
}

h4{
    margin-bottom: .5rem;
}

p{
    color:  hsl(229, 6%, 66%);
    font-size: 1.1rem;
}

span{
    font-weight:200;
}

.container{
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 50px ;
}

.head{
    display: grid;
    place-content: center;
    text-align: center;
}

.main-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "supervisor team calculator"
        "supervisor karma calculator";
    gap: 1rem;
    margin-top: 5rem;
}

.card{
  padding: 1.25rem;
  border-radius: .5rem;
  box-shadow: 0 0.125rem 0.9375rem 0.25rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: 0.25rem solid transparent;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  border-bottom: 0.25rem solid transparent;
}

.card img{
    width: 75px;
    align-self: flex-end;
}

.card-1{
    border-top: 0.25rem solid hsl(180, 62%, 55%);
    grid-area: supervisor;
    align-self: center;
}

.card-2{
    border-top: 0.25rem solid hsl(0, 78%, 62%);
    grid-area: team;
}

.card-3{
    border-top: 0.25rem solid hsl(34, 97%, 64%);
    grid-area: karma;
}

.card-4{
    border-top: 0.25rem solid hsl(212, 86%, 64%);
    grid-area: calculator;
    align-self: center;
}

.card-1:hover{
    border-bottom: 0.25rem solid hsl(180, 62%, 55%);
}
.card-2:hover{
    border-bottom: 0.25rem solid hsl(0, 78%, 62%);
}
.card-3:hover{
    border-bottom: 0.25rem solid hsl(34, 97%, 64%);
}
.card-4:hover{
    border-bottom: 0.25rem solid hsl(212, 86%, 64%);
}

@media only screen and (max-width:768px){
    p br{
        display: none;
    }
    .main-card{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: unset;
    }
    .card-1{
        grid-area: unset;
        align-self: unset;
    }
    
    .card-2{
        grid-area: unset;
    }
    
    .card-3{
        grid-area: unset;
    }
    
    .card-4{
        grid-area: unset;
        align-self: unset;
    }
}

@media only screen and (max-width:550px) {
    html{
        font-size: 14px;
    }
    .container{
        padding: 0 20px;
    }
    .main-card{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
}

@media only screen and (max-width:375px) {
    html{
        font-size: 13px;
    }
}